body{
    font-family: 'Poppins', sans-serif;
}
h1{
    font-size: 55px;
    color: grey;
    font-weight: bold;
    
    
}
.orange-clr{
    color: rgb(243, 83, 20);
}
.flexible-container{
    display: flex;
    margin-top: 50px;  
}
.half-width{
    width: 50%;
    padding-left: 5%;
} 
.half-width1{
    margin-top: 100px;
    
}
.link-btn{
    text-decoration: none;
    background-image: linear-gradient(rgb(250, 170, 21),tomato);
    color: white;
    font-size: 15px;
    padding:15px 35px;
    border-radius: 30px;
}
.aboutme{
    background-image: url(img/7.png);
    background-repeat: no-repeat;
    

}
h2{
    font-size:30px ;
    color: grey;
    font-weight: bold;
}
.person{
    margin-top: 35px;
    padding-left:25% ;
}
.my-recipies h2{
    text-align: center;
}
.my-recipies p{
    text-align: center;
}
.food-item{
    width: 80%;
    margin-left:5% ;
    margin-right: 10%;
    padding-left: 1%;
    padding-right: 1%;
    box-shadow: 5px 10px 40px;
    border-radius: 10px;
    
}
.food-flexible{
    display: flex;
    width: 70%;
    margin-top: 5%;
    padding-left:8% ; 
    
}
.food-item h2{
    text-align: left;
    color: black;
}
.food-item p{
    text-align: left;
}
.food-img{
    margin-top: 5%;
}
.half-width2{
    width: 50%;
    padding-left: 10%;
} 
.stat-info{
    border: 1px solid white;
    margin: 10%;
    box-shadow: 5px 10px 40px;
    border-radius: 20px;
}
.half-width2 h2{
    
    color: black;
}
h3{
    
    font-size: 25px;
    text-align: center;
    color: rgb(128, 128, 128);
}
.food-clr{
    color: hsl(17, 90%, 52%);
}
#footer-p{
    text-align: center;
    color: white;
    
}
footer{
    padding: 1%;
    background-color:rgb(0, 7, 48);
}